.flex-container {
    width: 400px;
    height: 200px;
    padding: 1em;
    border: 2px solid blue;
    display: flex;
}

.flex-item {
    background: #eee;
    padding: 20px;
    border: 2px solid #000;
}

.align-items-stretch {
    align-items: stretch;
}

.align-items-flex-start {
    align-items: flex-start;
}

.align-items-center {
    align-items: center;
}

.align-items-flex-end {
    align-items: flex-end;
}

.align-items-baseline {
    align-items: baseline;
}