.flex-container {
    width: 400px;
    padding: 1em;
    border: 2px solid blue;
    display: flex;
}

.flex-item {
    background: #eee;
    padding: 20px;
    border: 2px solid #000;
}

.nowrap {
    flex-wrap: nowrap;
}

.wrap {
    flex-wrap: wrap;
}

.wrap-reverse {
    flex-wrap: wrap-reverse;
}