div {
    border: 2px solid black;
    padding: 1em 1em;
    margin-bottom: 2em;
}

.font-family {
    font-family: Arial, Helvetica, sans-serif;
}

.font-size {
    font-size: 24px;
}

.font-weight {
    font-weight: bold;
}

.font-style {
    font-style: italic;
}

.font-variant{
    font-variant: small-caps;
}