.flex-container {
    width: 400px;
    padding: 1em;
    border: 3px solid blue;
    display: flex;
    align-items: flex-start;
    height: 200px;
}

.flex-item {
    background: #eee;
    padding: 20px;
    border: 2px solid #000;
}

.align-self-flex-start{
    align-self: flex-start;
}

.align-self-center {
    align-self: center;
}

.align-self-flex-end {
    align-self: flex-end;
}

.align-self-baseline {
    align-self: baseline;
}