.flex-container {
    width: 400px;
    padding: 1em;
    border: 3px solid blue;
    display: flex;
    align-items: flex-start;
}

.flex-item {
    background: #eee;
    padding: 20px;
    border: 2px solid #000;
}

.custom-order:nth-child(1) {
    order: 5;
}

.custom-order:nth-child(2) {
    order: 3;
}

.custom-order:nth-child(3) {
    order: 1;
}

.custom-order:nth-child(4) {
    order: 6;
}

.custom-order:nth-child(5) {
    order: 2;
}

.custom-order:nth-child(6) {
    order: 4;
}