* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #eee;
}

.site {
    width: 80%;
    margin: 40px auto;
    background: #fff;
    padding: 30px 60px;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
}

.site > * {
    border: 1px solid gray;
    border-radius: 3px;
    padding: 20px;
}

.site > header,
.site > footer {
    flex: 1 1 100%
}

.site > main {
    flex-grow: 7;
}

.site > aside {
    flex-grow: 3;
}

.site.two > header {
    order: 1;
}

.site.two > footer {
    order: 4;
}

.site.two > main {
    order: 3;
}

.site.two > aside {
    order: 2;
}


