.css-box-model {
    width: 50vw;
    margin: 50px auto;
}

.css-box-model div {
    border: 1px dashed #666;
    margin: 10px 20px 20px 20px;

}

.css-box-model div::before{
    padding-left: 20px;
    font-size: 12px;
    display: block;
}

.css-box-model .margin {
    background: #f89670;
}

.css-box-model .margin::before {
    content: 'margin';
}

.css-box-model .border {
    background: #fde8c7;
}

.css-box-model .border::before {
    content: 'border';
}

.css-box-model .padding {
    background: #85eb85;
}

.css-box-model .padding::before {
    content: 'padding';
}

.css-box-model .content
 {
    background: #a3d3e2;
    text-align: center;
    text-transform: capitalize;
}